.organ-cover-area{
  position: relative;
  width: 1260px;
  height: 430px;
}

.organ-cover-area img{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.organ-cover-area .white-line{
  position: absolute;
  top: 182px;
  left: 571px;
}

.organ-cover-area .green-line{
  position: absolute;
  top: 185px;
  left: 574px;
}

.organ-selection{
  position: absolute;
  top: 147px;
  left: 225px;
}

.organ-selection-button{
  border: 1px solid white;
  padding: 5px 10px;
  width: 100px;
  background: black;
  margin-bottom: 37px;
  font-size: 16px;
  color: white;
  box-sizing: border-box;
}

.tab-buttons{
  position: absolute;
  top: 75px;
  left: 630px;
  transform: translate(-50%, 0%);
  z-index: 999;
}

.tab-buttons .single-tab{
  color: white;
  border: 1px solid white;
  padding: 5px 28px;
  font-style: 16px;
  float: left;
}

.right-tab{
  border-left: 0px;
  margin-left: -1px;
}

.active-tab{
  background: white;
  color: black !important;
}

.intro-text{
  font-size: 14px;
  color: white;
  line-height: 22px;
  font-family: "cabin";
  width: 240px;
  position: absolute;
  right: 70px;
  bottom: 85px;
  font-weight: 100;
}

.distance-text{
  font-size: 16px;
  color: white;
  position: absolute;
  left: 630px;
  top: 280px;
  font-family: cabin;
  font-weight: bold;
}

.time-text{
  font-size: 24px;
  color: white;
  position: absolute;
  left: 720px;
  top: 320px;
  font-family: cabin;
  font-weight: normal;
}

.time-text span{
  font-size: 14px;
}

.white-time-text{
  font-size: 24px;
  color: white;
  position: absolute;
  left: 550px;
  top: 180px;
  font-family: cabin;
  font-weight: normal;
}

.white-time-text span{
  font-size: 14px;
}

.mobile-more-info-button{
  display: none;
}

.mobile-modal-div{
  display: none;
}

.info-icon{
  background: white;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
}

.white-line-path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: whitedash 10s linear forwards;
}

.green-line-path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: greendash 5s linear forwards;
}

@keyframes whitedash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes greendash {
  to {
    stroke-dashoffset: 0;
  }
}

.organ-cover-area-mobile{
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.organ-cover-area-mobile .white-line{
  left: 82px;
  top: 156px;
  position: absolute;
}

.organ-cover-area-mobile .green-line{
  left: 85px;
  top: 160px;
  position: absolute;
}

.organ-cover-area-mobile .distance-text{
  left: 145px;
  top: 250px;
  font-size: 16px;
  color: white;
  position: absolute;
  font-family: cabin;
  font-weight: bold;
}

.organ-cover-area-mobile .time-text {
  font-size: 24px;
  color: white;
  position: absolute;
  left: 245px;
  top: 290px;
  font-family: cabin;
  font-weight: normal;
}

.organ-cover-area-mobile .white-time-text {
  font-size: 24px;
  color: white;
  position: absolute;
  left: 70px;
  top: 150px;
  font-family: cabin;
  font-weight: normal;
}


@media only screen and (max-width: 500px) {
  body{
    margin: 0px;
  }

  .organ-cover-area{
    width: 100vw;
    overflow: hidden;
  }

  .organ-cover-area .white-line{
    left: 104px;
  }

  .organ-cover-area .green-line{
    left: 107px;
    top: 186px;
  }

  .desktop-cover-image{
    left: -465px !important;
  }

  .organ-selection{
    left: -1px;
    display: none;
  }

  .organ-selection-button{
    width: 70px;
    margin-bottom: 15px;
    padding-left: 12px;
  }

  .tab-buttons{
    transform: translate(0,0);
    left: 16%;
  }

  .organ-cover-area svg{
    left: 81px;
  }

  .distance-text{
    left: 140px;
  }

  .time-text{
    left: auto;
    right: 20px !important;
  }

  .mobile-more-info-button{
    display: block;
    width: 35px;
  }

  .mobile-more-info-button:hover .intro-text{
    left: 0px;
  }

  .intro-text{
    display: none;
  }

  .mobile-modal-div{
    display: block;
    position: absolute;
    top: 0px;
    z-index: 999;
  }

  .mobile-modal-div .intro-text{
    display: block;
    left: 10vw;
    right: 0px;
    transition: 0.5s ease-in;
    width: 80vw;
  }

  .white-time-text{
    font-size: 24px;
    color: white;
    position: absolute;
    left: 24px;
    top: 168px;
    font-family: cabin;
    font-weight: normal;
  }
}